---
import { appName } from "@/utils/constants";
import { getI18N } from "../i18n";
import { useTranslatedPath } from "../i18n/utils";
import { getLangFromUrl, useTranslatedPathDocs } from "../i18n/utils";
import {
  docsMainMenu,
  docsMainBody,
  docsControls,
  docsOptions,
  translateDoc,
} from "./features";
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const translatePathDocs = useTranslatedPathDocs(lang);
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const translatedDocsMainMenu = translateDoc(docsMainMenu, i18n.docsMainMenu);
const translatedDocsMainBody = translateDoc(docsMainBody, i18n.docsMainBody);
const translatedDocsControls = translateDoc(docsControls, i18n.docsControls);
const translatedDocsOptions = translateDoc(docsOptions, i18n.docsOptions);
const docFeatures = {
  docsMainMenu: [...translatedDocsMainMenu],
  docsMainBody: [...translatedDocsMainBody],
  docsControls: [...translatedDocsControls],
  docsOptions: [...translatedDocsOptions],
};
---

<aside id="sidebar" class="bg-[#1d1e26] hidden md:inline-flex flex-wrap">
  <a class="flex h-full place-self-center mb-6" href={translatePath("/")}>
    <img
      src="/icon/eDevPlay.webp"
      alt="play logo"
      class="navIconPlay h-10 hover:scale-105 transition-transform"
      transition:name="logo"
    />
  </a>
  <ul class="list-none">
    {
      Object.entries(docFeatures).map(([docsSection, features]) => {
        return features.map(({ depth, title, slug, description }) => {
          return (
            <a
              class={`${!description || description.length === 0 ? "text-xl text-white" : "text-sm"}`}
              href={`${translatePathDocs(slug, Astro.url.pathname, docsSection)}`}
            >
              <div
                class={`pb-2 ${description && description.length > 0 ? "border-l-2 border-gray-500 hover:border-white" : ""}`}
              >
                <li
                  data-id={slug}
                  class={`text-gray-400 hover:text-white rounded-md p-1 max-w-60
              ${depth === 2 ? "ml-4" : ""}`}
                >
                  {title}
                </li>
              </div>
            </a>
          );
        });
      })
    }
  </ul>
  <p
    class="text-center text-sm text-gray-100 border-t border-[rgb(255,255,255,0.2)] md:pt-4 md:mt-4 block mb-6"
  >
    &copy; 2024 {appName} - MIT license.
  </p>
</aside>
<style>
  #sidebar li.active {
    background-color: #42c973;
    color: black;
  }
  aside#sidebar {
    position: fixed;
    flex-shrink: 0;
    z-index: 50;
    top: 0px;
    padding-top: 30px;
    padding-left: 30px;
    width: 320px;
    max-height: calc(100vh);
    overflow-y: auto;
    padding-bottom: 1rem;
    animation: adjust-aside linear both;
    animation-timeline: scroll();
    animation-range: 0 400px;
  }
</style>
<script>
  // Scroll to aside active element
  // document.addEventListener("astro:page-load", () => {
  // document.addEventListener("DOMContentLoaded", () => {
  // const currentHash = window.location.hash;
  // const hashParse = currentHash.split("#").pop();

  // if (currentHash) {
  //   const targetElement = document.querySelector(
  //     `#sidebar li[data-id="${hashParse}"]`
  //   );
  //   if (targetElement) {
  //     targetElement.scrollIntoView({ behavior: "smooth" });
  //     targetElement.scrollIntoView({ block: "center" });
  //   }
  // }
  // });
</script>
