---
import { docFeatures } from "../../utils/docs";
import Footer from "../Footer.astro";
---

<main class="content bg-zinc-900 pl-[350px] p-8 grow">
  {
    docFeatures.map(({ depth, title, slug, description, src }) => {
      return (
        <section id={slug} class="mb-16">
          <h2
            class={`text-3xl mb-4 ${!description ? "text-5xl border-b-2 border-gray-700 p-4" : "ml-8"}`}
          >
            {title}
          </h2>
          {description && (
            <p class={`${depth === 2 ? "ml-8 text-gray-400" : ""} mb-6`}>
              {description}
            </p>
          )}
          {src && (
            <video
              // autoplay
              muted
              // playsinline
              onclick="this.paused ? this.play() : this.pause()"
              class={`${depth === 2 ? "ml-8" : ""} w-[1000px] hover:scale-105 transition-transform`}
              src={`/media/${src}`}
            />
          )}
        </section>
      );
    })
  }
</main>
