---
const { title, description } = Astro.props;
---
<div class="px-16 text-left">
  <h3 class="text-4xl text-balance text"><strong>{title}</strong></h3>
  <p class="mt-5 text-2xl text-gray-400">
    {description}
  </p>
</div>