---
const { title, description, cls = "" } = Astro.props;
---

<div class={`w-full md:min-w-[250px] md:max-w-[400px] px-2 md:px-4 ${cls}`}>
  <h3 class="text-3xl md:text-4xl text-balance text">
    <strong>{title}</strong>
  </h3>
  <p class="mt-5 text-xl md:text-2xl text-gray-400 text-balance">
    {description}
  </p>
</div>
