---
import Aside from "../docs/Aside.astro";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../NavBar/Navbar.astro";
import MainMenu from "../docs/MainMenu.astro";
---

<Layout title="Documentacion">
  <Navbar showLogo=false />
  <section class="flex min-h-screen">
    <Aside />
    <MainMenu />
  </section>
</Layout>
