---
import Aside from "../docs/Aside.astro";
import Content from "../docs/Content.astro";
import HiddenMenu from "../docs/HiddenMenu.astro";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../NavBar/Navbar.astro";
---

<Layout title="Documentacion">
  <Navbar showLogo=false />
  <section class="flex min-h-screen">
    <Aside />
    <Content />
    <HiddenMenu />
  </section>
</Layout>
