---
import Download from "@/icons/Download.astro";
import { getI18N } from "../i18n";
import { windowsLink } from "@/utils/binariesLinks";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<a
  class="flex items-center bg-green-600 px-1 rounded-md hover:scale-105 transition-transform h-10"
  rel="noopener noreferrer"
  id="nav-download-button"
  href={windowsLink}
>
  <div class="px-1">
    <Download />
  </div>
  <span><strong>{i18n.download}</strong></span>
</a>
<script>
  import { linuxLink, macLink, windowsLink } from "@/utils/binariesLinks";
  document.addEventListener("astro:page-load", function () {
    function getOS() {
      const userAgent =
        navigator.userAgent || navigator.vendor || (window as any).opera;
      if (/windows phone/i.test(userAgent)) {
        return "Windows";
      }

      if (/win/i.test(userAgent)) {
        return "Windows";
      }

      if (/mac/i.test(userAgent)) {
        return "Mac";
      }

      if (/linux/i.test(userAgent)) {
        return "Linux";
      }

      return "Other";
    }
    if (typeof window !== "undefined") {
      const os = getOS();
      const downloadButton = document.getElementById(
        "nav-download-button"
      ) as HTMLAnchorElement;
      if (downloadButton) {
        let downloadLink;
        switch (os) {
          case "Windows":
            downloadLink = windowsLink;
            break;
          case "Mac":
            downloadLink = macLink;
            break;
          case "Linux":
            downloadLink = linuxLink;
            break;
          default:
            downloadLink = windowsLink;
            break;
        }

        downloadButton.href = downloadLink;
      }
    }
  });
</script>
