<nav
  class="top-0 w-full h-20 flex flex-col justify-center items-center fixed bg-customDarkBg1 lg:bg-customDarkBgTransparent z-40 lg:backdrop-blur-xl"
>
  <div
    class="2xl:w-[1280px] xl:w-10/12 w-11/12 flex justify-between items-center relative"
  >
    Navbar
  </div>
</nav>
