<section class="text-center text-2xl text-balance">
  <p>
    <div class="mb-4 text-4xl">Tenemos mas de <strong>50</strong> funcionalidades listos para ti</div>
    <span>Mira a detalle todo aqui -></span>
    <a class="text-blue-400" href="/docs">Docs</a>
  </p>
</section>
